alexa-siterank==1.0.2
anyio==3.7.0
beautifulsoup4==4.12.2
blinker==1.6.2
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
docopt==0.6.2
exceptiongroup==1.1.1
Flask==2.3.2
Flask-Cors==3.0.10
fonttools==4.39.4
h11==0.14.0
httpcore==0.17.2
httpx==0.24.1
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
lxml==4.9.2
whois==0.9.27
xgboost==1.7.5
yarg==0.1.9
zipp==3.15.0